build: false

clone_depth: 5

environment:
  matrix:
    - PYTHON: "C:/Python35"
      TOXENV: "py35"
    - PYTHON: "C:/Python36"
      TOXENV: "py36"
    - PYTHON: "C:/Python37"
      TOXENV: "py37"
    - PYTHON: "C:/Python38"
      TOXENV: "py38"

init:
  - "ECHO %TOXENV%"
  - "ECHO %PYTHON%"
  - ps: "ls C:/Python*"

install:
  # Setup Python test tools
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;C:\msys64\usr\bin;%PATH%
  - "python -m pip install --user -U pip"
  - "python -m pip install -U setuptools wheel"
  - "python -m pip install -U virtualenv tox codecov"
  # Add Python and MSYS2 to the path
  # Setup MSYS2 environment and setup TOX_SPELL_PATH so our tests will know to look there for the spell checkers.
  - bash -lc "pacman --version"
  - bash -lc "pacman -S --noconfirm mingw-w64-x86_64-aspell mingw-w64-x86_64-aspell-en mingw-w64-x86_64-hunspell mingw-w64-x86_64-hunspell-en"
  - SET TOX_SPELL_PATH=C:\msys64\mingw64\bin
  - SET TOX_SPELL_REQUIRE=both
  # Aspell on windows mixes windows slashes and 'nix slashes.
  # We need to write the default config with data-dir and dict-dir with with 'nix slashes so it can find filters etc.
  - bash -lc "aconf=$(${TOX_SPELL_PATH}/aspell config conf-dir | sed 's/\\\\/\\//g');
    ${TOX_SPELL_PATH}/aspell dump config | sed 's/\\\\\\\\/\//g' > ${aconf}/aspell.conf;
    temp=$(${TOX_SPELL_PATH}/aspell config data-dir | sed 's/\\\\/\\//g');
    echo \"data-dir ${temp}\" >> ${aconf}/aspell.conf;
    temp=$(${TOX_SPELL_PATH}/aspell config dict-dir | sed 's/\\\\/\\//g');
    echo \"dict-dir ${temp}\" >> ${aconf}/aspell.conf"
  # Display current installed versions
  - bash -lc "${TOX_SPELL_PATH}/aspell --version"
  - bash -lc "${TOX_SPELL_PATH}/hunspell --version"

test_script:
  - python -m pip --version
  - virtualenv --version
  - tox --version
  - tox

after_test:
  - codecov

matrix:
  fast_finish: true
